<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-1">
          <label>Name</label>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="name"
           [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">
              Name is required
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-light" (click)="Editable('name')"><i class="fas fa-edit"></i></a>
          <a class="btn btn-light" (click)="ResetInput('name')"><i class="fas fa-times"></i></a>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-1">
          <label>Age</label>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="age" />
        </div>
        <div class="col-sm-4">
          <a class="btn btn-light" (click)="Editable('age')"><i class="fas fa-edit"></i></a>
          <a class="btn btn-light" (click)="ResetInput('age')"><i class="fas fa-times"></i></a>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-1">
          <label>Email</label>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" formControlName="email" 
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">
              Email is required
            </div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-light" (click)="Editable('email')"><i class="fas fa-edit"></i></a>
          <a class="btn btn-light" (click)="ResetInput('email')"><i class="fas fa-times"></i></a>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-4 offset-sm-1">
          <button type="submit" class="btn btn-success"><i class="fas fa-check-square"></i> submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
